html {
    box-sizing: border-box;
  }
  
body {
    font-family: "Work Sans", sans-serif;
    margin: 0;
  }
  
.container {
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    visibility: hidden;
    width: 100vw;
  }
.title {
    position: absolute;
    display: block;
    text-align: center;
    margin: 50vmin auto;
    left: 0;
    right: 0;   
}
.myProject {
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.project1 {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.project1:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.project1:active {
	position:relative;
	top:1px;
}